# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: XCodeTest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-ios:
    runs-on: macos-latest

    steps:
    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v4

    # Install any dependencies
    - name: Install Dependencies
      run: swift package resolve

    # Run tests with code coverage on iOS simulator
    - name: Run Tests with Code Coverage
      run: |
        destination=$(xcrun xctrace list devices 2>&1 | grep -m 1 "^iPhone" | awk -F'[()]' '{print $2}' | sed 's/ Simulator$//')
        xcodebuild test \
          -scheme 'Requestify' \
          -destination "platform=iOS Simulator,name=$destination" \
          -enableCodeCoverage YES \
          -resultBundlePath TestResults.xcresult
