# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: XCodeTest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: macos-latest

    steps:
    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v4

    # Install any dependencies
    - name: Install Dependencies
      run: swift package resolve

    # List available destinations
    - name: List Available Destinations
      run: xcodebuild -scheme 'Requestify' -showdestinations

    # Run tests with code coverage on iOS simulator
   # - name: Run Tests with Code Coverage
    #  run: |
     #   xcodebuild test \
      #    -scheme 'Requestify' \
       #   -destination 'platform=iOS Simulator,name=iPhone 14 Pro' \
        #  -destination-timeout 60 \
         # -enableCodeCoverage YES \
          #-resultBundlePath TestResults.xcresult

    # Build for iOS
    - name: Build iOS App
      run: |
        xcodebuild clean archive \
          -scheme 'Requestify' \
          -archivePath $RUNNER_TEMP/Requestify.xcarchive \
          -sdk iphoneos \
          -configuration Release \
          CODE_SIGNING_ALLOWED=NO

    # Create IPA
    - name: Create IPA
      run: |
        xcodebuild -exportArchive \
          -archivePath $RUNNER_TEMP/Requestify.xcarchive \
          -exportPath $RUNNER_TEMP/Requestify \
          -exportOptionsPlist exportOptions.plist

    # Upload IPA as artifact
    - name: Upload IPA
      uses: actions/upload-artifact@v4
      with:
        name: Requestify-iOS
        path: ${{ runner.temp }}/Requestify/*.ipa
        retention-days: 5
